/*
 * This file contains mapping from units/upgrades/structure names to positions in the big background icon images
 */

 .washed_out {
 	opacity: 0.5;
 }

.upgrade_icons span, .unit_icons span, .buildings_icons span {
	font-weight:bold;
	padding-left: 2px;
	color:white;
	font-size:18px;
	text-shadow:2px 2px 1px black;
}

.upgrade_icons {
	display: inline-block;
	width: 38px;
	height: 38px;
	background-image: url(/sc2rep/gfx/upgrades.jpg);
	background-repeat: no-repeat;
	background-size: 882px 135px;
}

.protossgroundarmors {
	background-position: -2px -3px;
}

.protossgroundweapons {
	background-position: -40px -3px;
}

.protossshields {
	background-position: -78px -3px;
}

.observergraviticbooster {
	background-position: -117px -3.5px;
}

.graviticdrive {
	background-position: -157px -4px;
}

.charge {
	background-position: -196px -3px;
}

.psistormtech {
	background-position: -235px -3px;
}

.carrierlaunchspeedupgrade {
	background-position: -273px -3px;
}

.extendedthermallance {
	background-position: -314px -2.5px;
}

.phoenixrangeupgrade {
	background-position: -354px -3px;
}

.blinktech {
	background-position: -395px -3px;
}

.protossairarmors {
	background-position: -434.5px -3px;
}

.protossairweapons {
	background-position: -474.5px -3px;
}

.warpgateresearch {
	background-position: -514px -3px;
}

.adeptpiercingattack {
	background-position: -554px -3px;
}

.zerggroundarmors {
	background-position: -2px -87px;
}

.zergmeleeweapons {
	background-position: -40px -87px;
}

.zergmissileweapons {
	background-position: -78px -87px;
}

.zergflyerarmors {
	background-position: -117px -87px;
}

.zergflyerweapons {
	background-position: -156.5px -87px;
}

.burrow {
	background-position: -196px -87px;
}

.tunnelingclaws {
	background-position: -235px -87px;
}

.glialreconstitution {
	background-position: -273px -87px;
}

.hydraliskspeed {
	background-position: -314px -87px;
}

.hydraliskspeedupgrade {
	background-position: -354px -87px;
}

.overlordspeed {
	background-position: -395px -87px;
}

.overlordtransport {
	background-position: -434.5px -87px;
}

.zerglingmovementspeed {
	background-position: -474.5px -87px;
}

.locustlifetimeincrease {
	background-position: -514px -87px;
}

.neuralparasite {
	background-position: -555px -87px;
}

.infestorenergyupgrade {
	background-position: -596px -88px;
}

.centrificalhooks {
	background-position: -637px -88px;
}

.zerglingattackspeed {
	background-position: -677.5px -88px;
}

.chitinousplating {
	background-position: -717.5px -88px;
}

.terraninfantryarmors {
	background-position: -2px -44px;
}

.terraninfantryweapons {
	background-position: -40px -44px;
}

.terranvehicleandshiparmors {
	background-position: -78px -44px;
}

.terranvehicleandshipweapons {
	background-position: -117px -44px;
}

.terranvehicleweapons {
	background-position: -117px -44px;
}

.terranshiparmors {
	background-position: -156.5px -44px;
}

.terranshipweapons {
	background-position: -196px -44px;
}

.highcapacitybarrels {
	background-position: -237px -44px;
}

.transformationservos {
	background-position: -273px -44px;
}

.bansheecloak {
	background-position: -314px -44px;
}

.personalcloaking {
	background-position: -314px -44px;
}

.ravencorvidreactor {
	background-position: -354px -44px;
}

.medivaccaduceusreactor {
	background-position: -395px -44px;
}

.stimpack {
	background-position: -434.5px -44px;
}

.terranbuildingarmor {
	background-position: -474.5px -44px;
}

.neosteelframe {
	background-position: -514px -44px;
}

.shieldwall {
	background-position: -555px -44px;
}

.ghostmoebiusreactor {
	background-position: -596px -44px;
}

.drillclaws {
	background-position: -637px -44px;
}

.durablematerials {
	background-position: -677.5px -44px;
}

.punishergrenades {
	background-position: -717.5px -44px;
}

.battlecruiserenablespecializations {
	background-position: -757px -44px;
}

.battlecruiserbehemothreactor {
	background-position: -797px -44px;
}

.hisecautotracking {
	background-position: -837px -44px;
}


.unit_icons {
	display: inline-block;
	width: 60px;
	height: 61px;
	background-image: url(/sc2rep/gfx/units.jpg);
	background-repeat: no-repeat;
	background-size: 1083px 462px;
}

.unit_icons_smaller {
	background-size:676.8px 288.75px;
	width: 38px;
	height: 38.5px;
}

.probe_smaller {
	background-position: -2px -2.5px;
}

.zealot_smaller {
	background-position: -47px -2.5px;
}

.sentry_smaller {
	background-position: -92px -2.5px;
}

.stalker_smaller {
	background-position: -137.5px -2.5px;
}

.darktemplar_smaller {
	background-position: -182.5px -2.5px;
}

.hightemplar_smaller {
	background-position: -227px -2.5px;
}

.archon_smaller {
	background-position: -272px -2.5px;
}

.warpprism_smaller {
	background-position: -317.2px -2.5px;
}

.observer_smaller {
	background-position: -362px -2.5px;
}

.immortal_smaller {
	background-position: -407px -2.5px;
}

.colossus_smaller {
	background-position: -452px -2.5px;
}

.phoenix_smaller {
	background-position: -497px -2.5px;
}

.voidray_smaller {
	background-position: -542px -2.5px;
}

.oracle_smaller {
	background-position: -587px -2.5px;
}

.tempest_smaller {
	background-position: -632px -2.5px;
}

.carrier_smaller {
	background-position: -2px -52px;
}

.interceptor_smaller {
	background-position: -47px -52px;
}

.mothershipcore_smaller {
	background-position: -92px -52px;
}

.mothership_smaller {
	background-position: -137.5px -52px;
}

.adept_smaller {
	background-position: -227px -52px;
}

.disruptor_smaller {
	background-position: -272px -52px;
}

.scv_smaller {
	background-position: -2px -99.5px;
}

.mule_smaller {
	background-position: -47px -98.5px;
}

.marine_smaller {
	background-position: -92px -99.5px;
}

.marauder_smaller {
	background-position: -137.5px -99.5px;
}

.reaper_smaller {
	background-position: -182.5px -99.5px;
}

.ghost_smaller {
	background-position: -227px -99.5px;
}

.hellion_smaller {
	background-position: -272px -99.5px;
}

.helliontank_smaller,
.hellbat_smaller {
	background-position: -317.2px -99.5px;
}

.widowmine_smaller {
	background-position: -362px -99.5px;
}

.siegetank_smaller {
	background-position: -407px -99.5px;
}

.thor_smaller {
	background-position: -452px -99.5px;
}

.vikingfighter_smaller, .viking_smaller {
	background-position: -497px -99.5px;
}

.medivac_smaller {
	background-position: -542px -99.5px;
}

.raven_smaller {
	background-position: -587px -99.5px;
}

.banshee_smaller {
	background-position: -632px -99.5px;
}

.battlecruiser_smaller {
	background-position: -2.5px -149px;
}

.cyclone_smaller {
	background-position: -272px -149px;
}

.liberator_smaller {
	background-position: -317.2px -149px;
}

.larva_smaller {
	background-position: -2px -198.5px;
}

.drone_smaller {
	background-position: -47px -198.5px;
}

.zergling_smaller {
	background-position: -92px -198.5px;
}

.baneling_smaller {
	background-position: -137.5px -198.5px;
}

.roach_smaller {
	background-position: -182.5px -198.5px;
}

.hydralisk_smaller {
	background-position: -227px -198.5px;
}

.viper_smaller {
	background-position: -272px -198.5px;
}

.mutalisk_smaller {
	background-position: -317.2px -198.5px;
}

.corruptor_smaller {
	background-position: -362px -198.5px;
}

.swarmhostmp_smaller, .swarmhost_smaller {
	background-position: -407px -198.5px;
}

.infestor_smaller {
	background-position: -452px -198.5px;
}

.infestor_smaller {
	background-position: -497px -198.5px;
}

.ultralisk_smaller {
	background-position: -542px -198.5px;
}

.broodlord_smaller {
	background-position: -587px -198.5px;
}

.overlord_smaller {
	background-position: -2px -248px;
}

.overseer_smaller {
	background-position: -47px -248px;
}

.queen_smaller {
	background-position: -92px -248px;
}

.ravager_smaller {
	background-position: -362px -248px;
}

.lurkermp_smaller {
	background-position: -407px -248px;
}

.probe {
	background-position: -4px -4.5px;
}

.zealot {
	background-position: -76px -4.5px;
}

.sentry {
	background-position: -149px -4.5px;
}

.stalker {
	background-position: -220px -4.5px;
}

.darktemplar {
	background-position: -293px -4.5px;
}

.hightemplar {
	background-position: -365px -4.5px;
}

.archon {
	background-position: -437px -4.5px;
}

.warpprism {
	background-position: -509px -4.5px;
}

.observer {
	background-position: -581px -4.5px;
}

.immortal {
	background-position: -653px -4.5px;
}

.colossus {
	background-position: -725px -4.5px;
}

.phoenix {
	background-position: -797px -4.5px;
}

.voidray {
	background-position: -869px -4.5px;
}

.oracle {
	background-position: -941px -4.5px;
}

.tempest {
	background-position: -1013px -4.5px;
}

.carrier {
	background-position: -4px -83.5px;
}

.interceptor {
	background-position: -76px -83.5px;
}

.mothershipcore {
	background-position: -149px -83.5px;
}

.mothership {
	background-position: -220px -83.5px;
}

.adept {
	background-position: -366px -83.5px;
}

.disruptor {
	background-position: -437px -83.5px;
}

.scv {
	background-position: -4px -159.5px;
}

.mule {
	background-position: -76px -159.5px;
}

.marine {
	background-position: -149px -159.5px;
}

.marauder {
	background-position: -220px -159.5px;
}
.reaper {
	background-position: -293px -159.5px;
}

.ghost {
	background-position: -365px -159.5px;
}

.hellion {
	background-position: -437px -159.5px;
}

.helliontank {
	background-position: -509px -159.5px;
}

.widowmine {
	background-position: -581px -159.5px;
}

.siegetank {
	background-position: -653px -159.5px;
}

.thor {
	background-position: -725px -159.5px;
}

.vikingfighter {
	background-position: -797px -159.5px;
}

.medivac {
	background-position: -869px -159.5px;
}

.raven {
	background-position: -941px -159.5px;
}

.banshee {
	background-position: -1013px -159.5px;
}

.battlecruiser {
	background-position: -4px -238.5px;
}

.cyclone {
	background-position: -437px -238.5px;
}

.liberator {
	background-position: -509px -238.5px;
}

.larva {
	background-position: -4px -317.5px;
}

.drone {
	background-position: -76px -317.5px;
}

.zergling {
	background-position: -149px -317.5px;
}

.baneling {
	background-position: -220px -317.5px;
}

.roach {
	background-position: -293px -317.5px;
}

.hydralisk {
	background-position: -365px -317.5px;
}

.viper {
	background-position: -437px -317.5px;
}

.mutalisk {
	background-position: -509px -317.5px;
}

.corruptor {
	background-position: -581px -317.5px;
}

.swarmhostmp {
	background-position: -653px -317.5px;
}

.infestor {
	background-position: -797px -317.5px;
}

.ultralisk {
	background-position: -869px -317.5px;
}

.broodlord {
	background-position: -941px -317.5px;
}

.overlord {
	background-position: -4px -396.5px;
}

.overseer {
	background-position: -76px -396.5px;
}

.queen {
	background-position: -149px -396.5px;
}

.ravager {
	background-position: -583px -396.5px;
}

.lurker {
	background-position: -653px -396.5px;
}

.nexus_smaller {
	background-position: -1.5px -3.5px;
}

.darkshrine_smaller {
	background-position: -45px -4px;
}

.twilightcouncil_smaller {
	background-position: -89.5px -4px;
}

.assimilator_smaller {
	background-position: -135px -4.5px;
}

.photoncannon_smaller {
	background-position: -179px -4.5px;
}

.templararchive_smaller {
	background-position: -224px -4.5px;
}

.roboticsfacility_smaller {
	background-position: -269px -4px;
}

.fleetbeacon_smaller {
	background-position: -314.5px -5px;
}

.forge_smaller {
	background-position: -359.5px -4px;
}

.roboticsbay_smaller {
	background-position: -404.5px -4px;
}

.stargate_smaller {
	background-position: -448.5px -4.5px;
}

.pylon_smaller {
	background-position: -494.5px -4.5px;
}

.gateway_smaller {
	background-position: -538.5px -4.5px;
}

.cyberneticscore_smaller {
	background-position: -584.5px -4px;
}

.fusioncore_smaller {
	background-position: -1.5px -50.8px;
}

.sensortower_smaller {
	background-position: -45px -50.8px;
}

.supplydepot_smaller {
	background-position: -90px -50.5px;
}

.ghostacademy_smaller {
	background-position: -135px -50.5px;
}

.commandcenter_smaller {
	background-position: -178px -51px;
}

.bunker_smaller {
	background-position: -224px -50.5px;
}

.refinery_smaller {
	background-position: -268.5px -50.8px;
}

.missileturret_smaller {
	background-position: -313.5px -50.2px;
}

.barracks_smaller {
	background-position: -359.5px -50.8px;
}

.armory_smaller {
	background-position: -404.5px -50.8px;
}

.factory_smaller {
	background-position: -448.5px -50.8px;
}

.starport_smaller {
	background-position: -494px -50.2px;
}

.engineeringbay_smaller {
	background-position: -537.8px -50.2px;
}

.barrackstechlab_smaller,
.factorytechlab_smaller,
.starporttechlab_smaller {
	background-position: -585.5px -50.2px;
}

.barracksreactor_smaller,
.factoryreactor_smaller,
.starportreactor_smaller {
	background-position: -631px -50.2px;
}

.planetaryfortress_smaller {
	background-position: -678px -50.2px;
}

.orbitalcommand_smaller {
	background-position: -724px -50.2px;
}

.banelingnest_smaller {
	background-position: -2px -97px;
}

.roachwarren_smaller {
	background-position: -45px -97px;
}

.spinecrawler_smaller {
	background-position: -90px -98px;
}

.greaterspire_smaller {
	background-position: -136px -98px;
}

.spire_smaller {
	background-position: -178.5px -97px;
}

.nydusnetwork_smaller {
	background-position: -224.5px -97px;
}

.ultraliskcavern_smaller {
	background-position: -269px -98px;
}

.sporecrawler_smaller {
	background-position: -313.5px -97px;
}

.lair_smaller {
	background-position: -359.5px -97px;
}

.hive_smaller {
	background-position: -404.5px -97px;
}

.infestationpit_smaller {
	background-position: -449.5px -96.5px;
}

.extractor_smaller {
	background-position: -494px -96.5px;
}

.hatchery_smaller {
	background-position: -538.2px -96.5px;
}

.evolutionchamber_smaller {
	background-position: -584px -97px;
}

.hydraliskden_smaller {
	background-position: -630px -97px;
}

.spawningpool_smaller {
	background-position: -676.4px -96.5px;
}

.buildings_icons {
	display: inline-block;
	width: 60px;
	height: 60px;
	background-image: url(/sc2rep/gfx/structures.jpg);
	background-repeat: no-repeat;
	background-size: 1229px 226px;
}

.buildings_icons_smaller {
	width: 38px;
	height: 38px;
	background-size:768.125px 141.25px;
}

.nexus {
	background-position: -1px -4px;
}

.darkshrine {
	background-position: -72px -6.5px;
}

.twilightcouncil {
	background-position: -143px -7.5px;
}

.assimilator {
	background-position: -216px -7.5px;
}

.photoncannon {
	background-position: -286px -7.5px;
}

.templararchive {
	background-position: -358px -7.5px;
}

.roboticsfacility {
	background-position: -430px -6.5px;
}

.fleetbeacon {
	background-position: -503px -8.5px;
}

.forge {
	background-position: -575.5px -6.5px;
}

.roboticsbay {
	background-position: -647.5px -6.5px;
}

.stargate {
	background-position: -717.5px -7.5px;
}

.pylon {
	background-position: -791.5px -7.5px;
}

.gateway {
	background-position: -861.5px -7.5px;
}

.cyberneticscore {
	background-position: -935.5px -7.5px;
}

.fusioncore {
	background-position: -2px -81.5px;
}

.sensortower {
	background-position: -72px -80.5px;
}

.supplydepot {
	background-position: -144.5px -80.5px;
}

.ghostacademy {
	background-position: -216.5px -80.5px;
}

.commandcenter {
	background-position: -285.5px -81.5px;
}

.bunker {
	background-position: -358.5px -80.5px;
}

.refinery {
	background-position: -429.5px -81.5px;
}

.missileturret {
	background-position: -501.5px -80.5px;
}

.barracks {
	background-position: -575.5px -81.5px;
}

.armory {
	background-position: -647.5px -81.5px;
}

.factory {
	background-position: -717.5px -81.5px;
}

.starport {
	background-position: -790.5px -80.5px;
}

.engineeringbay {
	background-position: -860.5px -80.5px;
}

.barrackstechlab,.factorytechlab,.starporttechlab {
	background-position: -934.5px -80.5px;
}

.banelingnest {
	background-position: -3.5px -155.5px;
}

.roachwarren {
	background-position: -72px -155.5px;
}

.spinecrawler {
	background-position: -143.5px -156.5px;
}

.greaterspire {
	background-position: -217.5px -156.5px;
}

.spire {
	background-position: -286px -155.5px;
}

.nydusnetwork {
	background-position: -360px -155.5px;
}

.ultraliskcavern {
	background-position: -430.5px -156.5px;
}

.sporecrawler {
	background-position: -501.5px -155.5px;
}

.lair {
	background-position: -575.5px -155.5px;
}

.hive {
	background-position: -647.5px -155.5px;
}

.infestationpit {
	background-position: -719.5px -154.5px;
}

.extractor {
	background-position: -790.5px -154.5px;
}

.hatchery {
	background-position: -861.5px -154.5px;
}

.evolutionchamber {
	background-position: -934.5px -155.5px;
}

.hydraliskden {
	background-position: -1008.5px -155.5px;
}

.spawningpool {
	background-position: -1082.5px -154.5px;
}
